
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$darkBlue: #000080;
$gray: #666;
$lightGray: #eee;
$white: #fff;

@font-face {
  font-family: 'Roboto'
  src: url('/assets/fonts/roboto/Roboto-Regular-webfont.eot');
  src: url('/assets/fonts/roboto/Roboto-Regular-webfont.woff') format('woff'),
       url('/assets/fonts/roboto/Roboto-Regular-webfont.ttf') format('truetype'),
       url('/assets/fonts/roboto/Roboto-Regular-webfont.svg') format('svg');
}

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$montserrat: 'Montserrat', sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}